.screen{ 
    display: flex;
    flex-direction: column;
}

.screen-1 { 
    height: -webkit-fill-available;
    margin: 5px;
    padding: 5px;
}
table { 
    width: 100%;
}
.full-width { 
    width: 100%;
}